.sidebar {
  position: fixed;
  left: 0;
  top: 55px;
  bottom: 0;
  width: 72px;
  background-color: white;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

.sidebar-link img {
  width: 24px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-size: 10px;
}

@media (min-width: 1000px) {
  .sidebar-link div {
    font-size: 14px;
  }
  
  .sidebar {
    width: 95px;
    white-space: nowrap;
  }
}